<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="SDK Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="SDK Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <groups>
        <include>
            <group>unit</group>
            <group>integration</group>
        </include>
    </groups>
</phpunit>
